article.clients {
    float: left;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100px;
    height: 10  0px;
    margin-right: 15px;
    margin-bottom: 15px;
    border: 1px solid #4d4d4d;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
                 border-radius: 3px;
}

article.clients * {
    vertical-align: middle;
}

article.clients span {
    display: inline-block;
    height: 100%;
    width: 1px;
}
<!DOCTYPE.html>
<html ang="en">

<head>
    <meta charset="UTF-8">
    <title>Top |graduation</title>
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <header>


        <div class="social">
            <img src="image/fb.png" class="socials">
            <img src="image/insta.png" class="socials" />
            <img src="image/skype.png" class="socials" />

        </div>

        <nav>
            <ul>
                <li><a href="Home.html">Home</a></li>
                <li><a href="Event.html">Event</a></li>
                <li><a href="About Us.html">About Us</a></li>
                <li><a href="Contact Us.html">Contact Us</a></li>
            </ul>

        </nav>
        <form action="http://kyushueisu-2017.big-bad.info/test_mail" method="post" class="form">
            <p>
                <lable>Email:<br />
                    <input type="text" name="email" />

                </lable>
            </p>
            <p>
                <lable>Name Required:<br />
                    <input type="text" name="name" />

                </lable>
            </p>
            <p>
                <lable>Comment's:<br />
                    <textarea name="body"></textarea>

                </lable>
            </p>
            <p>
                <lable>Telephone:<br />
                    <input type="text" name="Telephone" />

                </lable>
            </p>
            <p>
                <lable>Type of Event:<br />
                    <input type="text" name="Type of Event" />

                </lable>
            </p>
            <p>
                <lable>Event Date:<br />
                    <input type="text" name="Event Date" />

                </lable>
            </p>
            <p>
                <lable>Event Location:<br />
                    <input type="text" name="Event Location" />

                </lable>
            </p>
            <p>
                <lable>Estimated Of Guests:<br />
                    <input type="text" name="Estimated Of Guests" />

                </lable>
            </p>
            <p>
                <lable>Duration of Events:<br />
                    <input type="text" name="Duration of Event" />

                </lable>
                <!--chaulagainl328-->
            </p>
            <input type="hidden"name="return_url" value="https://graduation-laxminaresh12.c9users.io/Contact%20Us.html">
            <input type="hidden" name="manager_email" value="chaulagainl328@gmail.com" />
            
            <input type="submit" name="send" value="send" />
            
        </form>

    </header>

</body>
</head>


</html>